In [1]:
import os

In [2]:
%pwd

'e:\\ML-Projects\\With_Airflow\\Mlops_Airflow-main\\experiments'

In [3]:
os.chdir('../')

In [4]:
%pwd

'e:\\ML-Projects\\With_Airflow\\Mlops_Airflow-main'

In [5]:
import pandas as pd
import numpy as np

In [7]:
data =pd.read_csv("D:\cubic_zirconia.csv")

In [8]:
data.head()

,Unnamed: 0,carat,cut,color,clarity,depth,table,x,y,z,price
0,1,0.30,Ideal,E,SI1,62.1,58.0,4.27,4.29,2.66,499
1,2,0.33,Premium,G,IF,60.8,58.0,4.42,4.46,2.70,984
2,3,0.90,Very Good,E,VVS2,62.2,60.0,6.04,6.12,3.78,6289
3,4,0.42,Ideal,F,VS1,61.6,56.0,4.82,4.80,2.96,1082
4,5,0.31,Ideal,F,VVS1,60.4,59.0,4.35,4.43,2.65,779

In [9]:

data['cut'].value_counts()

cut
Ideal        10816
Premium       6899
Very Good     6030
Good          2441
Fair           781
Name: count, dtype: int64

In [15]:
data.isnull().sum()

Unnamed: 0    0
carat         0
cut           0
color         0
clarity       0
depth         0
table         0
x             0
y             0
z             0
price         0
dtype: int64

In [14]:
# df['col1'] = df['col1'].fillna(df['col1'].mean())

data['depth']=data['depth'].fillna(data['depth'].mean())